* {
  border: none;
  padding: 0;
  font-family: "CaskaydiaMono Nerd Font", sans-serif;
  font-size: 10px;
  min-height: 0;
}

window#waybar {
  background: rgba(0, 0, 0, 0.6);
  color: #c0caf5;
}

#workspaces button {
  padding: 2px 2px;
  border-radius: 0px;
  color: #c0caf5;
}

#workspaces button.active {
  background: rgba(170, 216, 255, 0.25);
  color: #c0caf5;
}

window#waybar .modules-left {
  /* padding-left: 5px; */
}

window#waybar .modules-right {
  padding: 2px 0px;
  padding-right: 5px;
}

#pulseaudio,
#battery,
#clock,
#cpu,
#tray {
  margin-left: 1.2rem;
}

#window {
  padding-left: 10px;
}
